<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cotton-chart-behavior/cotton-chart-behavior.html">

<dom-module id="cotton-bar-chart">

    <template>
        <div id="container" style="height: 100%;"></div>
    </template>

    <script>
    Polymer({
        is: 'cotton-bar-chart',

        behaviors: [CottonBehaviors.ChartBehavior],

        attached: function () {
            this.resize();
        },

        _createChart: function () {
            return new Highcharts.Chart({
                chart: {
                    renderTo: this.$.container,
                    type: 'bar',
                    margin: 0
                },
                legend: {
                    enabled: false,
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [],
                    lineWidth: 0,

                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    },
                    lineWidth: 0,
                    gridLineWidth:0,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0
                },
                tooltip: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        pointWidth: 32,
                        dataLabels: {
                            overflow: 'none',
                            allowOverlap: true,
                            crop: false,
                            enabled: true,
                            style: {
                                fontSize: '8pt',
                                fontFamily: 'Rubik, Helvetica Neue, Helvetica, Arial, sans-serif'
                            }
                        }
                    },
                    series: {
                        animation: {
                            duration: 1000,
                            easing: 'easeOut'
                        }
                    }
                },
                credits: {
                    enabled: false
                },

                series: [{
                    name: 'Number of items',
                    data: []
                }]
            });
        },

        setCategories: function (categories) {
            this._chart.xAxis[0].setCategories(categories);
        },

        setValues: function (values) {
            this._chart.series[0].setData(values);
        }

    });
    </script>
</dom-module>
